@font-face{
	font-family: 'Poppins-ExtraBold';
	src: url('../fonts/ExtraBold.ttf');
}
@font-face{
	font-family: 'GlacialIndifference-Regular';
	src: url('../fonts/GlacialIndifference-Regular.otf');
}
@font-face{
	font-family: 'GlacialIndifference-Bold';
	src: url('../fonts/GlacialIndifference-Bold.otf');
}
@font-face{
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face{
	font-family: 'Muli';
	src: url('../fonts/Muli.ttf');
}
@font-face{
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.ttf');
}
@font-face{
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.ttf');
}
