@media(max-width: 780px){
    .nav--item{
        font-size: 90px;
        color: lightcyan
    }
    .nav--link{
        font-size: 20px;
        transform: translateX(61px);
    }
    .satisfied-clients-container{
        width:80%;
    }
}
@media(max-width: 570px){
    .intro--images{
        display: none;
    }
    .logo-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .about--progress-icons{
        margin-top: 50px;
    }
}
