*{
    box-sizing: border-box;
}
header{
	background-color: #DDDDDD;
}
/* header - containers*/
.logo-container{
	max-width: 1367px;
    width:100%;
    margin: 0 auto;
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
}
.intro-container{
    max-width: 800px;
    width: 100%;
	height: 400px;
    margin: 20.27px auto;
    display: flex;
	flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}
.satisfied-clients-container{
    max-width: 1367px;
    width: 100%;
    margin:70.46px auto;
    display: flex;
    align-items: flex-end;
	flex-direction: column;
	font-family: 'Montserrat-Bold';
	font-size: 24px;
	color: #212121;
	padding-bottom: 15px;
}

/* header-logo */
.logo{
    font-family: 'Poppins-ExtraBold';
    font-size: 40px;
    color:#1A1A1A;
}
.logo--dot{
    font-size:33px;
    font-family: monospace, sans-serif;
    color:#0081FF;
}
.logo--resume{
    display: block;
    margin-top: 10px;
    font-size:13px;
    font-family: 'Montserrat-Regular';
color:#B3B3B3;
}
.logo--resume:hover{
    color: #E93656;
}

/* header-nav */
.nav{
    position: relative;
    max-width: 220px;
    width: 100%;
    text-align: center;
    transform: translateX(-5px);
}
.nav--item{
    font-size: 158.3px;
    font-family: 'Poppins-ExtraBold';
    color: #1C1C1C;
}
.nav--link{
    position:absolute;
    top: 40%;
    transform: translateX(7px);
    font-size:43.17px;
    font-family: 'Poppins-ExtraBold';
    color:#373737;
    transition: .1s;
}
.nav--link:hover{
    color: #E93656;
}
html{
    scroll-behavior: smooth;
}
/* header-intro */
.intro--img{
	max-width: 250px;
	width: 100%;
	border: 2px dotted crimson;
}
.intro--greeting{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.intro--greeting h1{
	font-size: 25px;
	font-family: 'GlacialIndifference-Regular';
	color: #212121;
}
.intro--greeting strong{
	display: block;
	font-family: 'GlacialIndifference-Bold';
	font-size: 49px;
}
.intro--greeting p{
	font-family: 'GlacialIndifference-Regular';
	font-size: 16px;
	color:#212121;
	margin-top: 8px;
}
.intro--icons{
    margin-top: 20px;
}

/* header - satisfied */
.satisfied--percent{
	padding-right: 10px;
	color:#E93656;
	font-size: 24px;
}
.satisfied-clients-container p{
	max-width: 361px;
	width: 100%;
}
.satisfied-clients-container div{
	height: 6px;
	max-width: 361px;
	width: 100%;
	margin-top: 10px;
	border-radius: 28px;
	background-color:#E93656;
}

/* about-section-container */
.about-section{
    margin-bottom: 100px;
}
.about-container{
    padding-top: 135px;
    max-width: 1367px;
    width: 100%;
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
/* about-content*/
.about--description{
    max-width: 334px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
     margin: 0 auto ; 
}
.wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.about--description h2{
    font-size:40px ;
    font-family: 'GlacialIndifference-Bold';
    color: #222222;
    text-transform: capitalize;
}
.about--description .about-profession{
    font-size:14px;
    font-family: 'Muli';
    color: #DAAE19;
    text-transform: uppercase;
    margin: 19px 0 33px 0;
}
.about--description .about--txt{
    font-family: 'Muli';
    font-size: 15px;
    color:#555555;
    margin-bottom: 60px;
}
.about--description .about--btn{
    padding: 13px 40px 13px 50px;
    font-family: 'GlacialIndifference-Bold';
    font-size:15px;
    color: white;
    border: 1px solid crimson;
    background-color:#E93656 ;
    cursor: pointer;
    transition: .3s;
}
.about--btn:hover{
    background-color: white;
    color:black;
}
.about--image{
    width: 100%;
}

/* about-progress bar container */
.about--progress-icons{
    margin-left: 40px;
}
.about--progress-container{
    width: 300px;
}
.about--progress{
    width: 100%;
    height: 10px;
    background-color: #F0F0F0;
}
.progress--bar{
    height: 100%;
    margin-top: 10px;
    background-color:#E93656;
    opacity: -1;
    transition: .6s;
}
.bar-section{
    margin-bottom: 10px;
}
h3{
    font-family: 'GlacialIndifference-Bold';
    font-size: 20px;
    color: #555555;
}
h3 span{
    color:#E93656;
}

/* about-icons */
.about--icons{
    margin-top: 40px;
}
.fab{
    padding: 10px;
}
.fab:hover {
    color: white;
    background-color: #15263E;
    
}

/* contact - information */
.contact-info{
    background-color: #131A36;
    width: 100%;
    min-height: 210px;
    margin-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact-flex{
    display: flex;
    margin-right: 40px;
}
.flex-contact-item{
    display: flex;
    flex-direction: column;
}
.icon-style{
    margin-right: 40px;
    background-color: #131A36;
    border: 2px dashed #FFFFFF;
    border-radius: 50px;
    color: white;
}
.icon-style:hover{
    background-color: #E93656;
    border: 2px solid #E93656;
    cursor: pointer;
}
.tel--icon{
padding: 21px 30px 19px;
}
.mail--icon{
    padding : 20px 25px;
}
.address--icon{
    text-align: center;
    padding: 20px 29px 18px;
}
.contact-info h3{
    font-size: 25px ;
     font-family: 'GlacialIndifference-Bold';
    color:#FFFFFF ;
}
.contact-info a{
    font-size:14px ;
    font-family: 'Muli';
    color:#DFDFDF ;
    margin-top: 15px;
}
/* services */

.services-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.services--block{
    width: 285px;
    height: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    position: relative;
    margin: 10px auto;
}
.services--heading{
    text-align: center;
}
.fa-2x{
    margin-bottom: 10px;
}
.services--overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #15263E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .2s;
}
.services--overlay:hover{
    opacity: 1;
    cursor: pointer;
}
.services--overlay p{
    margin-top: 10px;
    max-width: 190px;
    width: 100%;
    font-size:14px ;
    line-height: .5cm;
}

/* comment */
.slideshow{
    margin-top: 160px;
    background-image: url("../images/comment/background.jpg");
    background-color: #131A36;
}
.slideshow-container{
    max-width: 1367px;
    margin: 0 auto;
    min-height: 570px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.mySlides{
    display: none;
}
.click-button{
    display: flex;
    flex-direction: column;
}
.fa-square{
    margin-bottom: 14px;
    color: white;
}
.active, .fa-square:hover {
   color: #E93656;
   cursor: pointer;
}
.fade {
   animation-name: fade;
   animation-duration: 1.5s;
   width: 80%;
   align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
}
.fade .txt-comment {
    max-width: 497px;
    color: #FFFFFF;
    font-family: 'Roboto-Light';
    font-size:15px ;
    line-height: .8cm; 
}
.avatar-girl{
    padding: 10px 10px 1px 10px;
    border-radius: 50%;
    border: 2px dotted white;
}
.avatar{
    border: 2px dotted white;
    border-radius: 50%;
    padding: 10px;
}
.fade img{
    max-width: 140px;
    width: 100%;
}
.about-avatar{
    margin-bottom: 20px;
}
.about-avatar:before{
    content: "\201c";
    color: white;
    font-size: 70px;
    font-weight: bold;
}
.about-avatar p{
    color:#E93656;
    font-family: 'Roboto-Regular';
    font-size: 13px;
    margin-bottom: 9px;
}
.about-avatar h3{
    font-size:28px ;
    font-family: 'GlacialIndifference-Bold';
    color: #FFFFFF;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* latest projects */
.projects{
    margin-top: 140px;
}
.heading-project{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 55px;
}
.heading-project h2{
    text-align: center;
    color: #2E2E2E;
    font-size: 70px;
    font-family: 'GlacialIndifference-Bold';
}
.projects-container{
    max-width: 1367px;
    width: 100%;
    min-height: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.projects-list .items{
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.projects-list img{
    max-width: 300px;
    width: 100%;
    height: 100%;
}
.nav-container{
    max-width: 240px;
    width: 100%;
    margin: 0 auto;
}
.navbar{
    min-height: 400px;
    background-color: #15263E;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-ul{
    min-height: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.navbar-ul .btn{
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}
.filterLi{
    display: none;
}
.show {
    display: block;
  }
  .relative{
     position: relative;
  }
  .overlay-projects{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color:#000000;
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
  }
  .overlay-projects:hover{
      opacity: 1;
  }
  .overlay-projects p{
      color: #FFFFFF;
      font-size: 23px;
      font-family: 'GlacialIndifference-Bold';
      text-transform: capitalize;
  }
  .overlay-projects .time-span{
      color:#DDDDDD ;
      margin: 17px 0 6px;
      font-family: 'Muli';
      font-size:11px ;
  }
  .overlay-projects .svg{
      padding: 19px 18px 15px;
      border-radius: 50px;
      border: 1px solid red;
  }

  /* articles section */
  .articles{
      margin: 170px 0;
  }
   .articles-container{
       max-width: 1980px;
       width: 100%;
       margin: 0 auto;
   }
.article-container{
    display: flex;
    min-height: 509px;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.heading span{
    color:#2ED279 ;
    font-size: 13px;
    font-family: 'GlacialIndifference-Bold';
    margin-bottom: 10px;
    text-transform: uppercase;
}
.heading h2{
    color: #2E2E2E;
    font-size: 70px;
    font-family: 'GlacialIndifference-Bold';
    text-transform: capitalize;
}
.article-container article{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.article-container .article-div{
    max-width: 700px;
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.time-container{
    background-color: #15263E;
    max-width: 123px;
    width:100%;
    font-size: 30px;
    font-family: 'GlacialIndifference-Regular';
    color:#E93656;
}
.time-container span{
    display: block;
    width: 167px;
    transform: rotate(-90deg);
    transform-origin: 197px 153px;
}
.appear-tablet{
    color:#E93656;
    font-size:25px;
    font-family: 'GlacialIndifference-Regular';
}
.translate-x{
    transform: translateX(-123px)
}
.gray-div{
    max-width: 950px;
    width:100%;
    background-color:#E1E0DC;
}
.article-company{
    color:#888888 ;
    font-size: 14px;
    font-family: 'Muli';
    margin: 60px 0 10px 0;
}
.article-profession{
    color: #161616;
    font-size: 25px;
    font-family: 'GlacialIndifference-Bold';
}
.article-paragraph{
    max-width: 600px;
    width:100%;
    margin: 20px 0 120px 0;
    color: #494949;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Muli';
}

/* partners */
.partners{
    margin-bottom: 150px;
}
.partners-container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.partner-section{
    max-width: 230px;
    width: 100%;
    max-height: 190px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.partner-txt{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #E93656;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.partner-txt h3{
    margin-bottom: 10px;
    font-size: 16px;
   font-family: 'Poppins-SemiBold';
}
.partner-txt p{
    color: #626262;
    line-height: 1.5;
    font-size: 13px;
    font-family: 'Roboto-Light';
}
.partner-txt:hover{
    opacity: 1;
    cursor: pointer;
}
.logos-container{
    display: flex;
    flex-wrap: wrap;
    max-height: 190px;
}

/* footer */
.form-container{
    background-image: url("../images/form/map.jpg");
    width: 100%;
    min-height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.form-container:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 660px;
    background-color: #000000;
    opacity: 71%;
    z-index: 1;
}
.heading-form{
    text-align: center;
}
.heading-form h3{
    font-size: 45px;
    font-family: 'Jaapokki-Regular';
    color: white;
}
.heading-form p{
    font-size:17px;
    font-family: 'Roboto-Light';
    margin: 12px 0 46px;
    color: #EEEEEE;
}
.form{
    max-width:890px;
    width: 100%;
    z-index: 2;
}
.input-field{
    max-width: 290px;
    width: 100%;
    min-height: 50px;
}

input[type="text"]{
    width: 100%;
    height: 100%;
}
input[type="email"]{
    width: 100%;
    height: 100%;
}
.form-top{
    display: flex;
    justify-content: space-between;
}
.form-bottom{
    max-width: 890px;
    width: 100%;
    min-height: 110px;
    margin-top: 10px;
}
textarea{
    width: 100%;
    min-height: 110px;
    resize: none;
}
.send-btn{
    max-width: 187px;
    width: 100%;
    margin: 30px auto;
}
.send-style{
    background: none;
    padding: 10px 40px;
    font-family: 'GlacialIndifference-Bold';
    font-size: 12px;
    color: #E93656;
    border: 2px solid #E93656;
    cursor: pointer;
}
.send-style:hover{
    background-color: #E93656;
    color: white;
}

/* modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 25%;
  top: 55%;
  width: 50%;
  height: 100%; 
  overflow: auto; 
}
.modal-content {
  margin: 15% auto; 
  padding: 20px;
  width: 100%; 
}
.modal-content p{
    color: white;
    font-size: 20px;
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* roca section */
.footer-roca{
    background-color: #282828;
    min-height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roca-container{
    max-width: 700px;
    width: 100%;
}
.roca{
    color:#FFFFFF ;
    font-size: 55.42px;
    font-family: 'Poppins-ExtraBold';
    text-align: center;
}
.roca span{
    color: crimson;
    font-family: monospace;
    font-size: 45.72px;
}
.roca-container p {
    color: #A5A5A5;
    font-size: 17px;
    font-family: 'Roboto-Regular';
    line-height: 1.5;
    text-align: center;
    margin: 22px 0 40px;
}
.footer-icons{
    max-width: 80px;
    width: 100%;
    margin: 0 auto;
}

/* rights */
.rights{
    background-color: #171717;
    min-height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rights-container{
    max-width: 550px;
    width: 100%;
}
.rights-container p{
    color: #A0A8B7;
    font-size: 15px;
    font-family: 'Muli';
}
.rights-container span{
    color: #FFFFFF;
}