*{
	box-sizing: border-box;
}

/*header*/

header{
	background: #DDDDDD;
}
.container{
	display: flex;
	justify-content: space-between;
	padding-top: 48px;
	max-width: 1200px;
	margin: 0 auto;
}
.logo--name {
	font-size: 40px;
	text-transform: capitalize;
	color: #1A1A1A;
	font-family: 'ExtraBold';
}
.logo--dot{
	color: #0081FF;
	font-size: 33px;
	font-family: 'regular';
}
.logo--resume{
	display: block;
	color: #B3B3B3;
    font-size: 13px;
    padding-top: 5px;
	text-transform: capitalize;
}
.logo--resume:hover{
	color: #E93656;
}
.nav{
	max-width: 220px;
	width: 100%;
	text-align: center;
	position: relative;
	transform: translateX(-40px);
}
.nav--item{
	font-size: 158.3px;
	font-family: 'ExtraBold';
	color: #1C1C1C;
}
.nav--link{
	position: absolute;
	font-size: 43.17px;
	top: 50%;
	transform: translate(-48%, -50%);
	width: 100%;
	text-transform: capitalize;
	font-family: 'ExtraBold';
	color: #373737;
}
.nav--link:hover{
	color: #E93656;
}

/*introduction*/
.intro{
	background: #DDDDDD;
}
.section--title{
	font-size: 39.7px;
	font-family: 'regular';
}
.section--strong{
	display: block;
	font-size:55px;
	font-family: 'bold';
}
.section--subtitle{
	font-size: 23.29px;
	margin-top: 10px;
	font-family: 'regular';
}
.section--icons{
	margin-top:20px;
}
.intro--container{
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 60px;
}
.section--images{
    max-width: 250px;
	display: block;
	border: 2px dotted palevioletred;
}
.section--greeting{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left:20px;
}
.satisfied-clients{
	max-width: 1200px;
	margin: 0 auto;
	font-size: 24px;
	font-family: 'Montserrat-Bold';
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.satisfied-clients--percent{
    color:#da2849;
	padding-right: 10px;
}
.satisfied-clients-line{
	max-width: 1350px;
	margin:0 auto;
	background-color: crimson;
	display: flex;
	justify-content: flex-end;
	background-color:#DDDDDD ;
	padding-bottom: 40px;
}
.satisfied-clients-line span{
	height: 5px;
	width: 345px;
	background-color: #E93656;
	margin-top: 15px;
}
